body {
  margin: 0;
  padding: 0;
  background-color: white;
  font-family: sans-serif;
  overflow: hidden;
}
.home_container {
  overflow: hidden;
  opacity: 1;
}
.intro {
  width: auto;
  height: auto;
  position: absolute;
  top: 100px;
  left: 100px;
  margin: 0;
  padding: 0;
  font-size: 50px;
  color: whitesmoke;
  z-index: 1;
}
:root {
  --boxColor: rgb(8, 62, 83);
  --rotateSpeed: 30s;
  --bounceSpeed: 2s;
}
.contant_container {
  color: blue;
}
.intro.left {
  display: none;
  color: aliceblue;
  position: absolute;
  font-size: 50px;
  font-weight: 900;
  margin: 10px;
}
.intro.top {
  display: none;
  color: aliceblue;
  position: absolute;
  font-size: 50px;
  font-weight: 900;
  margin: 10px;
}
.intro.right {
  display: none;
  color: aliceblue;
  position: absolute;
  top: 300px;
  font-size: 50px;
  font-weight: 900;
  margin: 10px;
}
.position {
  font-size: 20px;
  position: absolute;
  left: 245px;
  top: 285px;
  color: white;
  z-index: 1;
}
.floating {
  cursor: pointer;
  animation-name: floating;
  animation-duration: 3s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
  margin-left: 30px;
  margin-top: 5px;
  text-shadow: 2px 2px 5px black;
}

@keyframes floating {
  from {
    transform: translate(0, 0px);
  }

  65% {
    transform: translate(0, 15px);
  }

  to {
    transform: translate(0, -0px);
  }
}

.bar {
  width: 60px;
  height: 100%;
  position: fixed;
  /* background-color: rgb(132, 209, 214); */
  animation: bar 1.5s infinite alternate;
  text-align: center;
  overflow: hidden;
  z-index: 1;
}
.bar .about {
  position: absolute;
  top: 200px;
  left: 2px;
  z-index: 1;
}
.bar .project {
  position: absolute;
  top: 280px;
  left: 5px;
  z-index: 1;
}
.bar .contact {
  position: absolute;
  top: 360px;
  left: 5px;
  z-index: 1;
}
.bar .resume {
  position: absolute;
  top: 440px;
  left: 5px;
  z-index: 1;
}
a{
  text-decoration: none;
}
i::before {
  font-size: 20px;
  color: #000;
}
.button {
  cursor: pointer;
  width: 40px;
  height: 40px;
  border-radius: 25px;
  border-style: none;
  animation: button 1.5s infinite alternate;
}
.button:hover {
  color: white;
  background-color: orange;
}

.subhead {
  cursor: pointer;
  font-size: 10px;
  font-weight: 900;
  margin-left: 2px;
  color: rgb(207, 12, 45);
}

.smalllogo {
  position: absolute;
  left: 5px;
  font-family: Sans-serif;
  font-size: 40px;
  font-weight: 600;
  margin: 10px;
  color: rgb(214, 10, 44);
  transform: rotateZ(20deg);
  cursor: pointer;
  animation: smalllogo 1.5s infinite alternate;
}
@keyframes smalllogo {
  from {
    transform: translate(100, 0px);
  }

  65% {
    transform: translate(100, 15px);
  }

  to {
    transform: translate(0, -0px);
  }
}

.smalllogo1 {
  position: absolute;
  top: 5px;
  left: 10px;
  font-family: Sans-serif;
  font-size: 40px;
  font-weight: 600;
  color: white;
  transform: rotateZ(20deg);
  cursor: pointer;
  animation: smalllogo1 1.5s infinite alternate;
}
@keyframes smalllogo1 {
  from {
    transform: translate(100, 0px);
  }

  65% {
    transform: translate(100, 15px);
  }

  to {
    transform: translate(0, -0px);
  }
}
.Resume {
  cursor: pointer;
  position: absolute;
  color: white;
  font-family: sans-serif;
  background-color: black;
  width: 100px;
  top: 326px;
  left: 118px;
  height: 50px;
  border-radius: 10px;
  border: 2px solid rebeccapurple;
  text-shadow: 0 0 4px #fff, 0 0 11px #fff, 0 0 19px #fff,
    0 0 42px rgb(214, 10, 44), 0 0 82px rgb(214, 10, 44),
    0 0 92px rgb(214, 10, 44), 0 0 102px rgb(214, 10, 44),
    0 0 151px rgb(214, 10, 44);
  box-shadow: 0 0 4px #fff, 0 0 11px #fff, 0 0 19px #fff, 0 0 42px rebeccapurple,
    0 0 82px rebeccapurple, 0 0 92px rebeccapurple, 0 0 102px rebeccapurple,
    0 0 151px rebeccapurple;

  animation: floating 3s infinite linear;
  z-index: 1;
}

.logoAni {
  position: absolute;
  top: 47px;
  left: 65px;
  margin: 0;
  padding: 0;
  font-family: Sans-serif;
  font-size: 50px;
  font-weight: 600;
  margin: 10px;
  color: rgb(214, 10, 44);
  transform: rotateZ(20deg);
  cursor: pointer;
  animation: logoAni 1s infinite alternate;
}
@keyframes logoAni {
  from {
    transform: translate(100, 0px);
  }

  65% {
    transform: translate(100, 15px);
  }

  to {
    transform: translate(0, -0px);
  }
}
.logoAni1 {
  position: absolute;
  top: 57px;
  left: 70px;
  font-family: Sans-serif;
  font-size: 50px;
  font-weight: 600;
  color: white;
  transform: rotateZ(20deg);
  cursor: pointer;
  animation: logoAni1 1s infinite alternate;
}
@keyframes logoAni1 {
  from {
    transform: translate(100, 0px);
  }

  65% {
    transform: translate(100, 20px);
  }

  to {
    transform: translate(0, -0px);
  }
}
.floor1 {
  /* background-color: #000; */
  min-width: 100vh;
  min-height: 100vh;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  overflow: hidden;
  align-content: center;
  align-items: center;
  font-size: 50px;
  perspective: 10em;
  perspective-origin: 50% calc(50% - 2em);
  z-index: -1;
  transform: rotate3d(200, 200, 200, 360deg);
}

.floor {
  position: absolute;
  top: 1em;
  transform: translate(-50%, -50%) rotateX(90deg);
  width: 15em;
  height: 15em;
  background-image: radial-gradient(#0000, #000 75%),
  repeating-conic-gradient(
    from 45deg,
    rgb(20, 155, 173) 0deg 90deg,
    rgb(229, 234, 238) 160deg 234deg
  );
  background-size: 100%, 1em 1em;
  z-index: -1;
}

.scene {
  position: relative;
  left: 100px;
  transform-style: preserve-3d;
  animation: sceneRotate var(--rotateSpeed) infinite linear;
}
@keyframes sceneRotate {
  to {
    transform: rotateY(360deg);
  }
}

.ball {
  color: aliceblue;
  position: absolute;
  font-size: 50px;
  left: -1.5em;
  bottom: 1em;
  background-image: radial-gradient(circle at top lightblue, #000, 90%);
  animation: ballBounce var(--bounceSpeed) infinite ease-out,
    sceneRotate var(--rotateSpeed) infinite linear reverse;
}
@keyframes ballBounce {
  0%,
  100% {
    bottom: 0.8em;
    transform: rotateY(0deg);
  }
  50% {
    bottom: 3em;
    animation-timing-function: ease-in;
    transform: rotateY(360deg);
  }
}

.ballshadow {
  position: absolute;
  width: 100%;
  height: 100%;
  background-image: radial-gradient(#0007, #0000 50%);
  animation: ballShadow var(--bounceSpeed) infinite ease-out;
}
@keyframes ballShadow {
  0%,
  100% {
    transform: scale(1);
    opacity: 1;
  }
  50% {
    transform: scale(1);
    opacity: 0.1;
    animation-timing-function: ease-in;
  }
}
.cube {
  width: 2em;
  height: 2em;
  transform-style: preserve-3d;
  position: absolute;
  bottom: -1em;
  top: -1em;
  left: -1em;
  z-index: -1;
}

.frontface,
.leftface,
.rightface,
.topface,
.bottomface,
.backface {
  position: absolute;
  width: 100%;
  height: 100%;
  background: var(--boxColor);
  box-shadow: 0 0 0.5em #000a inset;
}
.frontface {
  transform: translateZ(1em);
}
.rightface {
  transform: rotateY(90deg) translateZ(1em);
}
.backface {
  transform: rotateY(180deg) translateZ(1em);
}
.leftface {
  transform: rotateY(270deg) translateZ(1em);
}
.topface {
  position: absolute;
  width: 2em;
  height: 2em;
  transform: translate(0%, -50%) rotateX(90deg);
}
.bottomface {
  position: absolute;
  width: 2em;
  height: 2em;
  bottom: 0;
  transform: translate(50px, 0%) rotateY(90deg);
}
.project1,
.project2,
.project3 {
  position: absolute;
  width: 100%;
  height: 100%;
}
.project1 {
  transform: translateZ(4em) rotateY(30deg) translateY(-220px);
}
.project2 {
  transform: rotateY(240deg) translate(0%, 0px) translateX(0px)
    translateY(-125px) translateZ(4em);
}
.project3 {
  transform: rotateY(308deg) rotateY(180deg) translateY(-130px) translateZ(4em);
}
.video {
  width: 200px;
  height: 200px;
}
.video1 {
  width: 300px;
  height: 300px;
}
.project1name,
.project2name,
.project3name {
  position: absolute;
  width: 100%;
  height: 100%;
  color: orange;
}
.project1name {
  transform:translateZ(5em) translateX(2em) rotateY(30deg) translateY(-24px);
}
.project2name {
  transform: rotateY(240deg) translate(0%, 0px) translateX(50px)
  translateY(-24px) translateZ(5em);
}
.project3name {
  transform: rotateY(310deg) rotateY(180deg) translateY(-75px) translateZ(5em) translateX(24px);
}

@keyframes move-twink-back {
  from {
    background-position: 0 0;
  }
  to {
    background-position: -10000px 5000px;
  }
}
@-webkit-keyframes move-twink-back {
  from {
    background-position: 0 0;
  }
  to {
    background-position: -10000px 5000px;
  }
}
@-moz-keyframes move-twink-back {
  from {
    background-position: 0 0;
  }
  to {
    background-position: -10000px 5000px;
  }
}
@-ms-keyframes move-twink-back {
  from {
    background-position: 0 0;
  }
  to {
    background-position: -10000px 5000px;
  }
}

@keyframes move-clouds-back {
  from {
    background-position: 0 0;
  }
  to {
    background-position: 10000px 0;
  }
}
@-webkit-keyframes move-clouds-back {
  from {
    background-position: 0 0;
  }
  to {
    background-position: 10000px 0;
  }
}
@-moz-keyframes move-clouds-back {
  from {
    background-position: 0 0;
  }
  to {
    background-position: 10000px 0;
  }
}
@-ms-keyframes move-clouds-back {
  from {
    background-position: 0;
  }
  to {
    background-position: 10000px 0;
  }
}
.stars,
.twinkling,
.clouds {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  display: block;
}

.stars {
  background: #000
    url(http://www.script-tutorials.com/demos/360/images/stars.png) repeat top
    center;
  z-index: -3;
}

.twinkling {
  background: transparent
    url(http://www.script-tutorials.com/demos/360/images/twinkling.png) repeat
    top center;
  z-index: -2;

  -moz-animation: move-twink-back 200s linear infinite;
  -ms-animation: move-twink-back 200s linear infinite;
  -o-animation: move-twink-back 200s linear infinite;
  -webkit-animation: move-twink-back 200s linear infinite;
  animation: move-twink-back 200s linear infinite;
}

.clouds {
  background: transparent
    url(http://www.script-tutorials.com/demos/360/images/clouds3.png) repeat top
    center;
  z-index: -1;

  -moz-animation: move-clouds-back 200s linear infinite;
  -ms-animation: move-clouds-back 200s linear infinite;
  -o-animation: move-clouds-back 200s linear infinite;
  -webkit-animation: move-clouds-back 200s linear infinite;
  animation: move-clouds-back 200s linear infinite;
}
@media only screen and (min-width: 350px) and (max-width: 700px) {
  i::before {
    font-size: 15px;
    color: #000;
  }
  .floor1 {
    min-width: 10vh;
    perspective: 40em;
    perspective-origin: 40% calc(50% - 8em);
    z-index: -1;
  }
  .floor {
    transform: translate(-50%, -30%) rotateX(90deg);
  }
  .cube {
    width: 1em;
    height: 1em;
    transform-style: preserve-3d;
    position: absolute;
    bottom: -1em;
    top: 2em;
    left: -1em;
    z-index: -1;
  }
  .frontface,
  .leftface,
  .rightface,
  .topface,
  .bottomface,
  .backface {
    position: absolute;
    width: 100%;
    height: 100%;
    background: var(--boxColor);
    box-shadow: 0 0 0.5em #000a inset;
  }
  .frontface {
    transform: translateZ(0.5em);
  }
  .rightface {
    transform: rotateY(90deg) translateZ(0.5em);
  }
  .backface {
    transform: rotateY(180deg) translate(0%, 0px) translateX(0px)
      translateY(0px) translateZ(0.5em);
  }
  .leftface {
    transform: rotateY(270deg) translateZ(0.5em);
  }
  .topface {
    position: absolute;
    width: 1em;
    height: 1em;
    background: var(--boxColor);
    transform: translate(0%, -0%) rotateX(90deg) translateZ(0.5em);
  }
  .bottomface {
    position: absolute;
    width: 1em;
    height: 1em;
    background: var(--boxColor);
    bottom: 0;
    transform: translate(20px, 0%) rotateY(90deg) translateZ(-0.5em);
  }

  .ball {
    color: aliceblue;
    position: absolute;
    font-size: 30px;
    left: -3.5em;
    bottom: -1em;
    transform: translateX(50px);
    background-image: radial-gradient(
      circle at top rgb(173, 230, 222),
      #000,
      75%
    );
    animation: ballBounce var(--bounceSpeed) infinite ease-out,
      sceneRotate var(--rotateSpeed) infinite linear reverse;
  }
  @keyframes ballBounce {
    0%,
    100% {
      bottom: -3.5em;
      transform: rotateY(0deg);
    }
    50% {
      bottom: 3em;
      animation-timing-function: ease-in;
      transform: rotateY(360deg);
    }
  }

  .ballshadow {
    position: absolute;
    width: 100%;
    height: 100%;
    background-image: radial-gradient(#0007, #0000 50%);
    animation: ballShadow var(--bounceSpeed) infinite ease-out;
  }
  @keyframes ballShadow {
    0%,
    100% {
      transform: scale(1);
      opacity: 1;
    }
    50% {
      transform: scale(1);
      opacity: 0.1;
      animation-timing-function: ease-in;
    }
  }
  .project1,
  .project2,
  .project3 {
    position: absolute;
    width: 200px;
    height: 200px;
  }
  .project1 {
    transform: translateZ(4em) rotateY(30deg) translateY(-220px);
  }
  .project2 {
    transform: rotateY(240deg) translate(0%, 0px) translateX(0px)
      translateY(-125px) translateZ(4em);
  }
  .project3 {
    transform: rotateY(308deg) rotateY(180deg) translateY(-130px)
      translateZ(4em);
  }
.project1name,
.project2name,
.project3name {
  position: absolute;
  width: 100%;
  height: 100%;
  color: orange;
}
.project1name {
  transform:translateZ(5em) translateX(2em) rotateY(30deg) translateY(-24px);
}
.project2name {
  transform: rotateY(240deg) translate(0%, 0px) translateX(-50px)
  translateY(-24px) translateZ(5em);
}
.project3name {
  transform: rotateY(308deg) rotateY(180deg) translateY(-24px) translateZ(6em) translateX(-75px);
}
  .logoAni {
    font-size: 20px;
    left: 16px;
    top: 12px;
  }
  .logoAni1 {
    font-size: 20px;
    left: 28px;
    top: 24px;
  }
  .bar {
    width: 50px;
  }
  .button {
    width: 30px;
    height: 30px;
  }
  .subhead {
    font-size: 8px;
  }
  .video {
    width: 200px;
    height: 200px;
  }
}
